DB_LOGIN=username
DB_PASSWORD=1234
DB_HOST=hostexample
DB_PORT=5432
DB_NAME=db_for_notes

CORS_ORIGINS="http://localhost,http://localhost:5173,http://mycoolfrontend.com"
OPENAPI_URL="http://localhost:1234/openapi.json"
VITE_API_URL="http://localhost:1234"